<div id="<%= dom_id order_detail %>">
  <p>
    <strong>Name:</strong>
    <%= order_detail.menu.name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= order_detail.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= order_detail.sum_price %>
  </p>
</div>