<%= form_with(model: customer) do |form| %>
  <% if customer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" style="margin: 10px 0;">
    <label for="email">Email</label>
    <input type="text" class="form-control" name="customer[email]" id="customer_email" value="<%=customer.email%>">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Submit</button>
<% end %>
