<p style="color: green"><%= notice %></p>

<h1>Customers</h1>

<div id="customers">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <%= render customer %>
          <td><%= link_to "Show", customer, class:"btn btn-success" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New customer", new_customer_path, class:"btn btn-primary" %>
