<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <label for="status">Status: </label>
  <select name="status" id="status">
    <option value="NEW">New</option>
    <option value="PAID">Paid</option>
    <option value="CANCELED">Canceled</option>
  </select>
  <br><br>

  <div>
    <%= form.submit %>
  </div>
<% end %>
