<h1>Editing order</h1>

<%= render "form", order: @order %>

<br>

<div>
  <%= link_to "Show this order", @order, class:"btn btn-success" %> |
  <%= link_to "My Orders", orders_path, class:"btn btn-secondary" %>
  <p><%= link_to "Back", :back %></p>
</div>
