<p style="color: green"><%= notice %></p>

<h1>Orders</h1>

<div id="orders">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Customer</th>
        <th scope="col">Total Price</th>
        <th scope="col">Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <%= render order %>
          <td><%= link_to "Show", order, class:"btn btn-success" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<form method="post" action="/orders">
  <input type="hidden" id="total_price" name="total_price" value=0.0> 
  <input type="hidden" id="status" name="status" value="NEW">
  <button type="submit" class="btn btn-primary mb-2" style="margin: 10px 0">New Order</button>
</form>
